body {
    background-color: #9487935d !important; /* Couleur de fond avec priorité */
    padding-top: 20px;
    padding-bottom: 20px;
}


.card {
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Ombrage doux pour un effet de profondeur */
}

#loading-indicator .spinner-border {
    width: 3rem;
    height: 3rem; /* Taille de l'indicateur de chargement */
}

#email-error {
    font-size: 0.875em; /* Taille de la police pour le message d'erreur */
}
