<footer>
    <div class="contenu-footer"> 
        <div class="bloc footer-services">
            <ul class="liste1">
                <li><a href="/">Accueil</a></li>
                <li><a href="/attraction">Attraction</a></li>
                <li><a href="/reservation">Reservation</a></li>
            </ul>
        </div>
        <div class="bloc footer-services">
            <ul class="liste1">
                <li><a href="/login">Se connecter</a></li>
                <li><a href="/register">S'inscrire</a></li>
            </ul>
        </div>
        <div class="bloc footer-services">
            <ul class="liste1">
                <li><a href="/privacy">Politique de confidentialité</a></li>
                <li><a href="/legal">Mention légale</a></li>
            </ul>
        </div>
    </div>
    <div class="droit"> Team zombieland © 2024 </div>
</footer>
