body {
    background-color: #f2f2f2;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px; /* Limit the width of the container */
}

.logo {
    margin-bottom: 20px; /* Spacing between logo and text */
}

.logo img {
    max-width: 100%; /* Ensure the image does not exceed its container */
}

h1 {
    font-size: 72px;
    color: #ff6f61;
    margin: 0;
}

p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #e65b50;
}
