
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Appliquer une police de caractère agréable */
body {
    padding-top: 80px;
    font-family: 'Arial', sans-serif;
    background-color: #000; /* Arrière-plan en noir vif */
    color: #fff; /* Couleur du texte en blanc */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container centralisé */
.container {
    background-color: #111; /* Fond du container en noir légèrement plus clair */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin-top: 50px; /* Espacement depuis le haut pour un meilleur centrage vertical */
}

/* Style pour le titre */
.container h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff; /* Titre en blanc */
}

/* Style pour le paragraphe */
.container p {
    font-size: 18px;
    color: #ccc; /* Couleur du texte légèrement plus claire */
    margin-bottom: 30px;
}

/* Style pour l'image */
.container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Animation de l'apparition de la page */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.container {
    animation: fadeIn 0.5s ease-in-out;
}

/* Responsive Design pour les petits écrans */
@media (max-width: 600px) {
    .container {
        padding-left: 10px;
        padding: 20px;
        padding-top: 50px;
        
    }
}
