<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized - Accès non autorisé</title>
    <link rel="stylesheet" href="style-401.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="Zombie.jpg" alt="Unauthorized Access">
        </div>
        <h1>401</h1>
        <p>Accès non autorisé</p>
        <p>Vous n'avez pas la permission d'accéder à cette ressource.</p>
        <a href="/">Retour à la page d'accueil</a>
    </div>
</body>
</html>