<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur - Message d'erreur spécifique</title>
    <link rel="stylesheet" href="style-page.css">
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="zombie.jpg" alt="Erreur">
        </div>
        <h1>erreur</h1>
        <p>le mail de confirmation ne correspond pas</p>
        <a href="/">Retour à la page d'accueil</a>
    </div>
</body>
</html>
