<%- include('partials/header') %>

<div class="forgot-password-form-container">
  <form class="forgot-password-form" action="/forgot-password" method="POST">
    <h2>Mot de passe oublié</h2>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Envoyer</button>
  </form>
</div>

<%- include('partials/footer') %>
