
<%- include('partials/header') %>
<link rel="stylesheet" href="style.css">
  <div class="content">
    <audio autoplay loop class="hidden-audio">
        <source src="bruit.mp3" type="audio/mp3">
        
    </audio>
            <h2>ZombieLand</h2>
            <h6> est bien plus qu'un simple parc 
                d'attractions, c'est une expérience terrifiante, palpitante 
                et mémorable qui plonge les visiteurs au cœur d'un 
                univers post-apocalyptique où les zombies règnent en 
                maîtres. Conçu pour les amateurs d'horreur, d'aventure 
                et de frissons, ZombieLand est un lieu où l'imagination 
                rencontre la réalité, offrant une expérience unique en 
                son genre pour tous ceux qui osent y pénétrer. 
                </h6>
<div id="main-content">
    <a href="/reservation" class="button">Réserver</a>
    <a href="/register" class="button">S'inscrire</a>
</div>
    </div>
        
<%- include('partials/footer') %>

