<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message bien envoyé</title>
   <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container-message">
        <h1>Message bien envoyé</h1>
        <p>Merci <%= name %> de nous avoir contactés. Nous vous répondrons dès que possible.</p>
        <img src="/zombie.jpg" alt="Message bien envoyé">
    </div>
</body>
</html>
