<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification</title>
    <link rel="stylesheet" href="/css/notification.css">

</head>
<body>
    <%- include('partials/header') %>
    <div class="container text-center mt-5">
        <div class="alert <%= type === 'success' ? 'alert-success' : 'alert-danger' %>" role="alert">
            <%= message %>
        </div>
        <a href="/" class="btn btn-primary">Retour à la page d'accueil</a>
    </div>
    <%- include('partials/footer') %>
    <script src="/js/header.js"></script>
</body>
</html>
